<div class="page-header">
<h3>Классы</h3>
  <p>Ближайшие события в вашем регионе</p>
</div>
<div class="row" style="padding-bottom: 30px; padding-top: 30px;">
  <% @events.each do |event| %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= event.teachers.collect { |teacher| teacher.first_name + ' ' + teacher.last_name}.join(", ") %></h3>
      </div>
      <div class="panel-body">
        <p style="margin-bottom: 2px;"><%= event.location.city+ " | " + I18n.localize(event.date, :format => "%d %B %Y") %></p>
        <h2 style="margin-top: 0px; padding-top: 0px;"><%= event.title %></h2>
        <p><%= truncate(event.description, length: 400) %></p>
        <p><a class="btn btn-primary" href="#" role="button">Подробнее &raquo;</a></p>

      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="jumbotron">
  <h1><%= @festival.title %></h1>
  <p class="lead"><%= @festival.description %></p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Зарегистрироваться</a></p>
</div>
