- @events.each do |event|
  .side-image
    .images-wrapper{:style => "background: url(#{event.asset.url});"}
    .side-image-content
      %h4
        = "#{event.location.city} | " + I18n.localize(event.date, :format => "%d %B %Y")
        - unless event.teachers.empty?
          = " | " + event.teachers.collect { |teacher| "#{teacher.first_name} #{teacher.last_name}"}.join(", ")
      %h1= event.title
      %p
        = truncate(event.description, length: 700)
        = link_to "далее", event.url
- if @festival
  .jumbotron
    %h1= @festival.title
    %p.lead= @festival.description
    %p
      %a.btn.btn-lg.btn-success{:href => "#", :role => "button"} Зарегистрироваться
